@import url('./typography.css');

body {
    background-color: #f5f8fa;
}
#main {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    height: 100vh;
    padding: 30px;
    margin: 0 auto;
    background-color: white;
}
#header h1 {
    text-align: center;
}
#merriweather {
    font-family: var(--font-primary);
}
#merriweather :nth-child(3) {
    font-weight: bold;
}
#merriweather :last-child {
    font-style: italic;
}
#open-sans {
    font-family: var(--font-secondary);
}
#open-sans :last-child {
    font-style: italic;
}
#montserrat {
    font-family: var(--font-tertiary);
}
#montserrat :last-child {
    font-style: italic;
}
