@import url("./design/typography.css");
@import url("./design/color.css");
@import url("./design/spacing.css");
@import url('/stylesheet/design/grid.css');

/*Global Styles*/
html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
    /* background-color: var(--primary-color-black); */
  font-size: var(--text-md);
}
#main {
  font-family: Arial, Helvetica, sans-serif;
  width: 960px;
  padding: 30px;
  margin: 0 auto;
  /* background-color: var(--primary-color-white); */
  /* color: var(--primary-color-white); */
}

#header h1 {
  text-align: center;
}


/*Typography Section*/
.merriweather {
  font-family: var(--font-primary);
}

.open-sans {
  font-family: var(--font-secondary);
}

#primary-font :nth-child(3) {
  font-weight: bold;
}

#primary-font :last-child {
  font-style: italic;
}

#secondary-font :last-child {
  font-style: italic;
}

#tertiary-font {
  font-family: var(--font-tertiary);
}

#tertiary-font :last-child {
  font-style: italic;
}

#text-sizes :nth-child(1) {
  font-size: var(--text-8);
  margin-top: var(--area-1);
}

#text-sizes :nth-child(2) {
  font-size: var(--text-7);
}

#text-sizes :nth-child(3) {
  font-size: var(--text-6);
}

#text-sizes :nth-child(4) {
  font-size: var(--text-5);
}

#text-sizes :nth-child(5) {
  font-size: var(--text-4);
}

#text-sizes :nth-child(6) {
  font-size: var(--text-3);
}

#text-sizes :nth-child(7) {
  font-size: var(--text-2);
}

#text-sizes :nth-child(8) {
  font-size: var(--text-1);
}

#paragraph {
  width: 600px;
}

#paragraph p {
  line-height: var(--body-line-height);
  text-align: justify;
}

#paragraph :nth-child(1){
  font-size: var(--text-7);
  margin: var(--area-1) 0;
}


#paragraph :nth-child(4) {
  font-size: var(--text-6);
}

#paragraph :nth-child(7) {
  font-size: var(--text-5);
}

#paragraph :nth-child(10) {
  font-size: var(--text-4);
}

#paragraph :nth-child(13) {
  font-size: var(--text-3);
}

.heading {
  margin-bottom: 12px;
  color: var(--secondary-color-blue);
}

/*Color Section*/
#color .container span {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#color .container :nth-child(1) {
  font-weight: 700;
}

#color .container :nth-child(2) {
  background-color: var(--primary-color-white);
  outline: 1px solid rgb(223, 223, 223);
}

#color .container :nth-child(3) {
  background-color: var(--primary-color-black);
}

#color .container :nth-child(4) {
  background-color: var(--primary-color-blue);
}

#color :last-child :nth-child(2) {
  background-color: var(--secondary-color-mid-gray);
}

#color :last-child :nth-child(3) {
  background-color: var(--secondary-color-mid-black);
}

#color :last-child :nth-child(4) {
  background-color: var(--secondary-color-gray);
  outline: 1px solid rgb(223, 223, 223);
}

/*Spacing (Margin & Padding) Section*/
#spacing .container :nth-child(n) {
  text-align: center;
  color: white;
  background-color: #1538af;
  margin: 5px;
}

#spacing .container :nth-child(1) {
  width: var(--area-1);
}

#spacing .container :nth-child(2) {
  width: var(--area-2);
}

#spacing .container :nth-child(3) {
  width: var(--area-3);
}

#spacing .container :nth-child(4) {
  width: var(--area-4);
}

#spacing .container :nth-child(5) {
  width: var(--area-5);
}

#spacing .container :nth-child(6) {
    width: var(--area-6);
}

#spacing .container :nth-child(7) {
    width: var(--area-7);
}

#spacing .container :nth-child(8) {
  width: var(--area-8);
}

/*Grid Section*/
#grid .column {
  text-align: center;
  color: white;
  background-color: #1538af;
  padding: calc(var(--area-1) / 2);
  margin: calc(var(--area-1) / 2);
}