@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Montserrat:wght@700&family=Open+Sans:wght@700&display=swap');

/*Global Variables*/
:root {
    /*Set Font Families*/
    --font-primary: Merriweather, serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-tertiary: Montserrat, sans-serif;

    /*Set Base Values*/
    --text-base-size: 1em;
    --text-scale-ratio: 1.25;

    /*Type Scale*/
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

body {
    font-family: var(--font-primary);
    font-size: var(--text-base-size);
}

h1, h2, h3, h4, h5, .text-xxxl {
    font-family: var(--font-secondary);
}
nav {
    font-family: var(--font-tertiary);
}

/*Text Sizes*/
.text-xxxl {
    font-size: var(--text-xxxl);
}
h1, .text-xxl {
    font-size: var(--text-xxl);
}
h2, .text-xl {
    font-size: var(--text-xl);
}
h3, .text-lg {
    font-size: var(--text-lg);
}
h4, .text-md {
    font-size: var(--text-md);
}
h5, .text-sm {
    font-size: var(--text-sm);
}
small, .text-xs {
    font-size: var(--text-xs);
}